<div class="section-container">
  <h2>About me</h2>
  <div class="card-container">
    <mat-card class="image-container">
      <img
        mat-card-image
        src="../../../assets/images/family.jpg"
        alt="family"
      />
    </mat-card>
    <mat-card class="about-card">
      <mat-card-content>
        <h3>Creative developer and life-long learner</h3>

        <p>
          I have always loved tech and building things. When I was younger it
          came in the form of building Legos, then video games like minecraft or
          some city builder. Building in a digital space came naturally. In my
          sales career I was always building trackers and creating my own
          algorithms to boost productivity. In order to do this I started to
          play around with computer programming. I was instantly captivated. I
          started classes right away and haven't really looked back since.
        </p>
        <p>
          Since then I have been focused on completing my degree and
          contributing as a developer. My current position has allowed me to
          learn the front end and I am currently sharpening my skills to work as
          a full stack dev.
        </p>
        <h4>As a developer</h4>
        <p>
          I pride myself in putting the best code forward. I take time to ensure
          my code is <b>readable</b> and <b>maintainable</b>. I am always
          willing to take feedback and use that to improve my skills.
        </p>
        <p>
          I am always excited to start a new project. I look to learn something
          new and am happy to lead the way when needed.
        </p>
        <h4>As a colleague</h4>
        <p>
          Communication is key. With my background in sales I have learned to
          communicate with <b>every</b> type of person. I am always happy to
          voice my opinion or welcome others' as well.
        </p>
        <p>
          I am a team player and happy to help my peers when needed. I prefer to
          go into what I call <em>code mode</em> (blast music for a couple hours
          and vigorously type away) but when needed, jumping on a call to break
          down a complicated problem can be just as fun.
        </p>
        <h4>As a person</h4>
        <p>
          Work life balance is very important to me. I gravitated to this career
          because of just that.
        </p>
        <p>
          I make sure to take time for my family and myself. I love spending
          time with my kids, whether we are hiking, playing games or cozied up
          to a movie.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <h2>My Skills</h2>
  <mat-grid-list [cols]="numCols" rowHeight="100px">
    <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
    >
      <div class="tile-container">
        <!-- <img [src]="tile.icon" alt="Skill icon" class="skill-icon" /> -->
        <i [ngClass]="tile.icon" style="color: #319bc9"></i>
        <p>{{ tile.text }}</p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
