/* You can add global styles to this file, and also import other style files */

.main-content {
  height: 100vh;
  overflow-y: auto;
}

.fixed {
  // position: sticky;
  top: 0;
}

.spacer-sm {
  margin: 10px;
}

.spacer-lg {
  margin: 50px;
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // min-height: 80vh;
  margin-bottom: 30px;
  margin-left: 5vw;
  margin-right: 5vw;
}
