img.project-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.image-container {
  display: flex;
  justify-content: center;
  // align-items: center;
}

.card-overlay {
  position: relative;
  display: inline-block;
}

.card-overlay:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.35
  ); /* Adjust the opacity value as desired */
  z-index: 1;
}

.card-overlay:hover .overlay-text {
  display: block;
}

.overlay-text {
  display: none;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 20px;
  z-index: 2;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card-container > mat-card {
  flex: 0 0 calc(50% - 10px); /* Adjust the width as needed */
  margin: 5px;
}

@media (max-width: 1280px) {
  .card-container > mat-card {
    flex: 1 1 100%; /* Full width on mobile */
  }
}

a {
  margin-top: 20px;
  margin-right: 5px;
  text-decoration: none;
}
