<div class="title-container bg">
  <h1 class="name">
    Hi! I'm Jason | Software Engineer |
    <span class="container-flip">
      <span class="flip">Husband & Father</span>
      <span class="flip">Student</span>
      <span class="flip">Lego Builder</span>
      <span class="flip">Fitness Enthusiast</span>
      <span class="flip">Lakers Fan</span>
      <span class="flip">Tinkerer</span>
      <span class="flip">Tech Enthusiast</span>
      <span class="flip">Dodgers Fan</span>
    </span>
  </h1>
</div>
