<mat-toolbar class="fixed" color="primary">
  <button mat-button (click)="goTo('targetHome')">Home</button>
  <button mat-button (click)="goTo('targetAbout')">About</button>
  <button mat-button (click)="goTo('targetProjects')">Projects</button>
  <button mat-button (click)="goTo('targetContact')">Contact</button>
</mat-toolbar>
<span class="spacer"></span>
<landing id="targetHome"></landing>
<about id="targetAbout"></about>
<projects id="targetProjects"></projects>
<contact id="targetContact"></contact>
